.ArticleHighlight {
    border: 2px solid red;
    margin: 7%;
    min-width: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: auto;
}

.ArticleHighlight > .article-image {
    max-width: 300px;
    max-height: 150px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ArticleHighlight > .article-image img {
    margin-right : auto;
    margin-left : auto;
    max-width: 100%;
    max-height: 100%;
}

.ArticleHighlight > .article-title {
    text-align: center;
    max-width: 300px;
    max-height: 150px;
}