.article {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
}

.article-title {
    display: flex;
    justify-self: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

.article-image {
    max-width: 1000px;
    max-height: 800px;
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.article-metadata {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    padding: 15px;
}

.article-meta {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.article-autor {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
}